<!-- <div>
  <div>
    <input type="text" placeholder="Old Password" [(ngModel)]="oldPassword">
  </div>
  <div>
    <input type="text" placeholder="New Password" [(ngModel)]="newPassword">
  </div>
  <div>
    <input type="text" placeholder="Re-Enter Password" [(ngModel)]="confirmPassword">
  </div>

  <div>
    <button (click)="submit()">Change</button>
  </div>
</div> -->


<div class="container-fluid page-background">
  <!-- <img src="../../assets/image/login.jpeg" alt=""> -->

  <div class="row offset-2 col-1 box1">
    <div class="row col-12 mt-5">
    </div>
  </div>
  <div class="row offset-3 col-1 box">
    <div class="row col-12 mt-5">
    </div>
  </div>
  <div class="row offset-3 col-5 inside-container">
    <div class="row col-12 mt-5">
      <div class="row offset-6 mb-3 input-group">
        <input type="password" class="form-control" [(ngModel)]="oldPassword" placeholder="Old Password" minlength="4" maxlength="10">
      </div>
      <div class="row offset-6 mb-3 password-field input-group">
        <input type="password" class="form-control" [(ngModel)]="newPassword" (keyup)="checkPassword()" placeholder="New Password" minlength="4" maxlength="10">
      </div>
      <div class="row offset-6 mb-3 password-field input-group">
        <input type="password" class="form-control" (keyup)="checkPassword()" [(ngModel)]="confirmPassword" placeholder="Re-Enter Password" minlength="4" maxlength="10">
      </div>
      <span *ngIf="!confirmTrue && confirmPassword" style="color:red; margin-left: 23rem;">*Password don't match or length must be >4</span>

    </div>
    <div class="row offset-6 mt-5 mb-5">
      <button type="button" class="btn login-button" [disabled]="!oldPassword || !newPassword || !confirmPassword || !confirmTrue" (click)="submit()">Submit</button>
      <a type="button" class="btn" [routerLink]="['/dashboard']">Back</a>
      <!-- <a type="button" class="btn" [routerLink]="['/forgot-password']">Forgot Password</a> -->
    </div>
  </div>

  <div class="row offset-8 col-1 box2">
    <div class="row col-12 mt-5">
    </div>
  </div>
  <div class="row offset-9 col-1 box3">
    <div class="row col-12 mt-5">
    </div>
  </div>

</div>
