.inside-container {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: floralwhite;
  position: absolute;
  margin-top: 16rem;
  border: 1px;
  box-shadow: 2px 2px 24px #BBBBBB;
  border-radius: .8rem;
  backdrop-filter: blur(4px);
  transform: translate(14%, -5%);
  z-index: 1;
}
.page-background {
  /* background-color: #5CDB95; */
  /* background-image: url("../../assets/image/black-coffe.jpg"); */
  background-color: whitesmoke;
  background-size: 120rem 59rem;
  background-repeat: no-repeat;
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.4); */
  height: 58.5rem;
}
.box {
  background-color: beige;
  padding: 2rem;
  position: absolute;
  margin-top: 14rem;
  border: 1px;
  box-shadow: 2px 2px 24px #BBBBBB;
  border-radius: .8rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-transform: translate(14%, -5%);
  transform: translate(14%, -5%);
}
.box1 {
  background-color: black;
  padding: 2rem;
  position: absolute;
  margin-top: 10rem;
  border: 1px;
  box-shadow: 2px 2px 24px #BBBBBB;
  border-radius: .8rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-transform: translate(14%, -5%);
  transform: translate(14%, -5%);
}
.box2 {
  background-color: black;
  padding: 2rem;
  position: absolute;
  margin-top: 29rem;
  border: 1px;
  box-shadow: 2px 2px 24px #BBBBBB;
  border-radius: .8rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-transform: translate(14%, -5%);
  transform: translate(14%, -5%);
}
.box3 {
  background-color: beige;
  padding: 2rem;
  position: absolute;
  margin-top: 33rem;
  border: 1px;
  box-shadow: 2px 2px 24px #BBBBBB;
  border-radius: .8rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-transform: translate(14%, -5%);
  transform: translate(14%, -5%);
}

.login-button {
  background-color: #e0f3c5;
}
input:focus{
  outline: none;      /* Remove default outline and use border or box-shadow */
  box-shadow: 0 0 0 2px orange; /* Full freedom. (works also with border-radius) */
}

button:focus{
  outline: none;      /* Remove default outline and use border or box-shadow */
  box-shadow: 0 0 0 2px orange; /* Full freedom. (works also with border-radius) */
}
button a {
  color: black;
}
