<!-- <div>
  <input type="text" placeholder="Please Enter Your EmailId" [(ngModel)]="email">
  <button (click)="submit()">Send Verification Link</button>
</div>
 -->

<div class="container-fluid page-background">
  <!-- <img src="../../assets/image/login.jpeg" alt=""> -->

  <div class="row offset-2 col-1 box1">
    <div class="row col-12 mt-5">
    </div>
  </div>
  <div class="row offset-3 col-1 box">
    <div class="row col-12 mt-5">
    </div>
  </div>
  <div class="row offset-3 col-5 inside-container">
    <div class="row col-12 mt-5">
      <div class="row offset-6 mb-3 input-group">
        <input type="text" class="form-control" [(ngModel)]="email" placeholder="Please Enter Your EmailId">
      </div>
    </div>
    <div class="row offset-6 mt-5 mb-5">
      <button type="button" [disabled]="!email" class="btn login-button" (click)="submit()">Submit</button>
      <a type="button" class="btn" [routerLink]="['/login']">Back</a>
      <!-- <a type="button" class="btn" [routerLink]="['/forgot-password']">Forgot Password</a> -->
    </div>
  </div>

  <div class="row offset-8 col-1 box2">
    <div class="row col-12 mt-5">
    </div>
  </div>
  <div class="row offset-9 col-1 box3">
    <div class="row col-12 mt-5">
    </div>
  </div>

</div>
